@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-bg: black;
  --white: white;
  --section-bg: #0e0e10;
  --transparent: transparent;
  --acua-marine: #56dcad;
  --text-bg: #282836;
  --dune: #333;
  --pastel-gray: #ccc;
  --silver-chalice: #aaadb0;
  --bluish-gray: #c0cae3;
}



@layer utilities {
  /* Background Colors */
  .bg-main-bg {
    background-color: var(--main-bg);
  }
  .bg-white {
    background-color: var(--white);
  }
  .bg-section-bg {
    background-color: var(--section-bg);
  }
  .bg-transparent {
    background-color: var(--transparent);
  }
  .bg-acua-marine {
    background-color: var(--acua-marine);
  }
  .bg-text-bg {
    background-color: var(--text-bg);
  }
  .bg-dune {
    background-color: var(--dune);
  }
  .bg-pastel-gray {
    background-color: var(--pastel-gray);
  }
  .bg-silver-chalice {
    background-color: var(--silver-chalice);
  }
  .bg-bluish-gray {
    background-color: var(--bluish-gray);
  }

  /* Text Colors */
  .text-main-bg {
    color: var(--main-bg);
  }
  .text-white {
    color: var(--white);
  }
  .text-section-bg {
    color: var(--section-bg);
  }
  .text-acua-marine {
    color: var(--acua-marine);
  }
  .text-text-bg {
    color: var(--text-bg);
  }
  .text-dune {
    color: var(--dune);
  }
  .text-pastel-gray {
    color: var(--pastel-gray);
  }
  .text-silver-chalice {
    color: var(--silver-chalice);
  }
  .text-bluish-gray {
    color: var(--bluish-gray);
  }
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
/* NProgress Loader */
#nprogress .bar {
  background: #56dcad !important; /* Change to your preferred color */
  height: 3px;
}

/* Optional: Customize the spinner color */
#nprogress .peg {
  box-shadow: 0 0 10px #56dcad, 0 0 5px #56dcad !important;
}
